////////////////////////////////////////////////////////
/// /file _body.scss
/// /version 0.1
/// /author Cyril POIDEVIN
/// 
/// Définition des différents styles du body
////////////////////////////////////////////////////////

body {
  font-weight: normal;
  font-size: 1em;
  font-family: $default-font-stack;
}